<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-google-vr" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>GoogleVR</name>

  <js-module name="GoogleVR" src="www/GoogleVR.js">
    <clobbers target="cordova.plugins.GoogleVR" />
  </js-module>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="GoogleVR">
        <param name="ios-package" value="GoogleVR" />
      </feature>
    </config-file>

    <header-file src="src/ios/GoogleVRViewController.h" />
    <source-file src="src/ios/GoogleVRViewController.m" />
    <header-file src="src/ios/GoogleVR.h" />
    <source-file src="src/ios/GoogleVR.m" />

    <framework src="GVRSDK" type="podspec" spec="~> 1.40.0" />

  </platform>

</plugin>
